<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Hahmolista</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body><div class="col-md-4">
		<h1>Hahmolista</h1>
		</div>
	<div class="col-md-4">
		<h3 th:inline="text">Tervetuloa [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Kirjaudu ulos" class="btn btn-danger"/>
		</form>
	</div>
	<table class="table table-striped">
		<tr>
			<th>Nimi</th>
			<th>Ika</th>
			<th>Koodi</th>
			<th>Eläin</th>
			<th></th>
			<th sec:authorize="hasAuthority('ADMIN')"> </th>
		</tr>
		<tr th:each = "hahmo : ${hahmot}">
			<td th:text="${hahmo.nimi}"></td>
			<td th:text="${hahmo.ika}"></td>
			<td th:text="${hahmo.koodi}"></td>
			<td th:text="${hahmo.elain}"></td>
			<td><a th:href="@{/edit/{id}(id=${hahmo.id})}" class="btn btn-success">Muokkaa</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${hahmo.id})}" class="btn btn-danger">Poista</a></td>
		</tr>
	</table>
	<a href="/add" class="btn btn-success">Lisää hahmo</a>
 
</body>
</html>