<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Idaliina Laine</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
        <title>Idaliina Laine</title>
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    </head>
    <body>
<h1>Ohjelmisto teknologioita</h1> 

<div id="contentbox">
<p>Tämä projekti sisältää hahmolistan, johon voi halutessaan lisätä uusia hahmoja. 
	<br>
	<h3>Ohjeet kirjautumiseen:</h3>
	<b>Käyttäjätunnus:</b> admin <b>Salasana:</b> admin (vain tällä tunnuksella on mahdollista poistaa hahmolistasta hahmoja)
	<br>
	<b>Käyttäjätunnus:</b> user <b>Salasana:</b> user (tällä tunnuksella on mahdollista katsella sekä lisätä hahmolistaan uusia hahmoja)
	<br><br>
	<ul>
	<li><a href="/signup">Rekisteröidy</a></li>
	<li><a href="/hahmolista">Hahmolista</a></li>
	<li><a href="/add">Lisää hahmo</a></li>
	</ul>
</p>
</div>

</body>
</html>